<!DOCTYPE html>        
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/app2.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Upload</title>
</head>
<body>
    <div id="header">
        <nav class="container">
            <a href="" id="logo">
                <img src="images/logo.svg.png" alt="back-khoa">
            </a>
            <ul id="Tieu-de">
                <li>PHẦN MỀM CHẤM CHÉO</li>
                 <li>ĐẠI HỌC BÁCH KHOA HÀ NỘI - TRƯỜNG ĐIỆN - ĐIỆN TỬ</li>  
            </ul>

        </nav>
    </div>
    <div id="topnav">
        <ul id="tab">
            <li><a href="{% url 'home' %}">TRANG CHỦ</a></li>
            <li><a href="{% url 'upload' %}">UPLOAD</a></li>
            <li><a href="{% url 'download' %}">DOWLOAD</a></li>
        </ul>
      </div>

    <div class="noidung">
        <ul class="notifications"></ul>
          <div class="buttons">
             <button type="button" onclick="location.href='{% url 'upload_dssv' %}'">Tải lên danh sách sinh viên</button>
              <button type="button" onclick="location.href='{% url 'upload_detai' %}'">Tải lên danh sách đề tài</button>
              <button type="button" onclick="location.href='{% url 'cap_nhat' %}'">Cập nhật</button>
              <button type="button" onclick="location.href='{% url 'tao_trang_dang_ky_de_tai' %}'">tạo trang</button>
             <button type="button" onclick="location.href='{% url 'di_den_trang' %}'" >Đi đến sheet</button>
             <button type="button" onclick="location.href='{% url 'xoa' %}'">Xóa</button>
         </div>
    </div>
    
    <script src="./script.js"></script>
    
</body>
</html>