{% load static %}
<!DOCTYPE html>        
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo.svg.png' %}">
    <link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
    
    <title>Trang chủ</title>
</head>
<body style="background: url({% static 'images/bk.jpg' %})">
    <div id="header">
        <nav class="container">
            <a href="" id="logo">
                <img src="{% static 'images/logo.svg.png' %}" alt="back-khoa">
            </a>
            <ul id="Tieu-de">
                <li>PHẦN MỀM CHẤM CHÉO</li>
                 <li>ĐẠI HỌC BÁCH KHOA HÀ NỘI - TRƯỜNG ĐIỆN - ĐIỆN TỬ</li>  
            </ul>

        </nav>
    </div>
    <div id="topnav">
        <ul id="tab">
          <li><a href="{% url 'myapp:mainPage' %}">TRANG CHỦ</a></li>
          <li><a href="{% url 'myapp:pageSheet' %}">TẠO DANH SÁCH ĐĂNG KÝ</a></li>
          <li><a href="{% url 'myapp:pageForm' %}">TẠO FORM ĐÁNH GIÁ</a></li>
        </ul>
      </div>
    
</body>
</html>
