{% load static %}
<!DOCTYPE html>        
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo.svg.png' %}">
    <link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
    
    <title>Trang chủ</title>
</head>
<body style="background-image:linear-gradient(0,rgba(112, 128, 144,0.6), rgba(112, 128, 144,0.6)), url({% static 'images/bk.jpg' %})">    <div id="header">
        <nav class="container">
            <a href="" id="logo">
                <img src="{% static 'images/logo.svg.png' %}" alt="back-khoa">
            </a>
            <ul id="Tieu-de">
                <li>PHẦN MỀM CHẤM CHÉO</li>
                 <li>ĐẠI HỌC BÁCH KHOA HÀ NỘI - TRƯỜNG ĐIỆN - ĐIỆN TỬ</li>  
            </ul>

        </nav>
    </div>
    
    <div class="noidung">
      <ul class="notifications"></ul>
      <div class="buttons">
        <a href="{% url 'myapp:createNewProject' %}"><button class="btn" id="taoform">Tạo đánh giá mới</button></a>
        <form action="{% url 'myapp:openProject' %}" method="POST" enctype="multipart/form-data" class="input">
          <label for="fileInput1" class="custom-file-input-label">Mở đánh giá đã có</label>
          <div class="custom-file-input-wrapper">
            <input type="file"
                    id="fileInput1"
                    class="custom-file-input"
                    name="projectFile"
                    onchange="displaySelectedFile('fileInput1', 'fileNameDisplay1')"
                    accept=".json"
                    >
            <span id="fileNameDisplay1"> Chưa chọn tệp</span>
          </div>
          {% csrf_token %}
          <button type="submit" class="btn" id="cn">Mở đánh giá đã chọn</button>
        </form>
       </div>
    </div>
    <script src="{% static 'scripts/pageSheet.js' %}"></script>
</body>
</html>
