{% load static %}
<!DOCTYPE html>        
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo.svg.png' %}">
    <link rel="stylesheet" href="{% static 'css/pageSheet.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Upload</title>
</head>
<body style="background-image:linear-gradient(0,rgba(112, 128, 144,0.6), rgba(112, 128, 144,0.6)), url({% static 'images/bk.jpg' %})">
    <div id="header">
        <nav class="container">
            <a href="" id="logo">
                <img src="{% static 'images/logo.svg.png' %}" alt="back-khoa">
            </a>
            <ul id="Tieu-de">
                <li>PHẦN MỀM CHẤM CHÉO</li>
                 <li>ĐẠI HỌC BÁCH KHOA HÀ NỘI - TRƯỜNG ĐIỆN - ĐIỆN TỬ</li>  
            </ul>

        </nav>
    </div>
    <div id="topnav">
      <ul id="tab">
        <li><a href="{% url 'myapp:mainPage' %}">TRANG CHỦ</a></li>
        <li><a href="{% url 'myapp:pageSheet' %}">TẠO DANH SÁCH ĐĂNG KÝ</a></li>
        <li><a href="{% url 'myapp:pageForm' %}">TẠO FORM ĐÁNH GIÁ</a></li>
      </ul>
    </div>

    <div class="noidung">
      <ul class="notifications"></ul>
      <div class="buttons">
        <form action="{% url 'myapp:upload' %}" method="POST" enctype="multipart/form-data" class="input">
          <label for="fileInput1"
            class="custom-file-input-label"
          >Chọn tệp danh sách sinh viên:</label>

          <div class="custom-file-input-wrapper">
            <input type="file"
                  id="fileInput1"
                  class="custom-file-input"
                  name="studentList" 
                  onchange="displaySelectedFile('fileInput1', 'fileNameDisplay1')"
                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  >
            <span id="fileNameDisplay1">Chưa chọn tệp</span>
          </div>
          {% csrf_token %}
          <button type="submit" class="btn" id="cn">cap nhat</button>
          <label for="fileInput2" class="custom-file-input-label">Chọn tệp danh sách đề tài:</label>
          <div class="custom-file-input-wrapper">
            <input type="file"
                    id="fileInput2"
                    class="custom-file-input"
                    name="topicList"
                    onchange="displaySelectedFile('fileInput2', 'fileNameDisplay2')"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    >
            <span id="fileNameDisplay2">Chưa chọn tệp</span>
          </div>
        </form>
        <div class="grid-container">
          <a href="{% url 'myapp:addSheet' %}"><button  class="btn" id="tao">Tạo trang</button></a>
          <a href="{% url 'myapp:gotoSheet' %}"><button  class="btn" id="di">Đi đến sheet</button></a>
        </div>
       </div>
    </div>
    <script src="{% static 'scripts/pageSheet.js' %}"></script>
</body>
</html>


